body {
    background: url(./1wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    height: calc(100vh - 77.33px);
    width: 100%;
}

.word {
    margin: auto;
    color: white;
    font: 700 normal 1.5em 'tahoma';
    text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

.joana1 {
    width: 85%;
}

.joana1 img {
    height: 43vh;
}

.ultrasound {
    width: 85%;
    height: 43vh!important;
}

.ultrasound img {
    height: 100%;
}